.footer{
    display: flex;
    flex-direction: column;
}

.lowerrow{
    background-color: #F2F2F2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 0px 10px 0px;

    border-top: 1px solid #DADCE0;
}

@media (max-width:600px) {
    .lowerrow{
        flex-direction: column;
        border-top: none;
    }

    .littlescreen{
        display: flex;
        flex-direction: column;
        border-top: 1px solid #DADCE0;
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    
}

.links{
    padding: 0px 20px 0px 20px;
}