.search{
    display: flex;
    justify-content: center;

    padding-top: 1.5%;

    
}

.border{
    display: flex;
    justify-content: center;

    border: 1px solid #E3E3E3;
    border-radius: 40px;

    padding: 13px;
    width: 37%;
}

@media (max-width: 1200px) {
    .border{
        width: 100%;
    }
}

.border:hover{
    box-shadow: 0px 0px 8px 2px #E3E3E3;
}

.border input{
    font-size: 20px;
    
    width: 95%;
    
    border:none;
}

.border input:focus{
    outline:0;
}