@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;

  margin: 0;

  height: 100%
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

a{
  color: #707070;
  text-decoration: none;
}
